name: Build source code and test it

on:
  push:
    branches:
      - renovate/**
  pull_request:
    branches: [ main ]
  workflow_call:  # Allow this workflow to be called by other workflows

jobs:
  web:
    runs-on: ubuntu-latest
    name: 'Build code and test'
    steps:
      - name: Check out
        uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        id: install_code
        run: bun i
      - name: Lint
        id: lint_code
        run: bun run lint
      - name: Build
        id: build_code
        run: bun run build
      - name: Verify
        id: verify_code
        run: bun run verify:web
